.goods_container{
    width: 90%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}
.card{
    border-radius: 10px;
    background-color:aliceblue;
    box-shadow: 3.4px 3.4px 6.5px rgb(79, 79, 79);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    img{
        width: 100%;
    }
    h3{
        text-align: center;
    }
    .buyBtn{
        background-color: rgb(49, 145, 242);
        border: none;
        padding: 10px 15px;
        cursor:pointer;
        transition: background-color 0.3s ease;
        transition: display 0.4s ease-in;
        &disabled{
            background-color: grey;
            color: black;
            cursor: no-drop;
        }
        &:hover {
        background-color: rgb(28, 121, 214);
    }
    }
   
 
}