.header{
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr 0.3fr;
    align-items: center;
    justify-content: center;
    box-shadow: 4.5px 4.5px 6.5px rgb(172, 172, 172);
    background-color: rgb(223, 223, 223);
    gap:20px;
    padding: 20px 50px;
    margin-bottom: 50px;
    ul {
            display: flex;
            align-items: center;
            gap: 20px;
    
            li {
                cursor: pointer;
            }
    
        }
    
        img {
            width: 50px;
            cursor: pointer;
        }
}
