*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 0.5fr 1.5fr;
    //grid-template-rows: minmax(100px,auto) minmax(700px,4fr) minmax(100px,auto);
    grid-template-rows: 0,5fr 4fr 0,5fr;
    gap: 1px 20px;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    align-items: stretch;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
}